:root {
    --background-color:#F5F5F5;
    --background-color-nav:#FFFFFF;
    --background-color-futer:#2F303A;
    font-family: 'Roboto', sans-serif;
}
.webstudi{
    font-family: 'Raleway', sans-serif;
    font-size: 26px;
}
.footer{
    background-color:  var(--background-color-futer);
    font-size: 14px;
}
.title{
    background-color: var(--background-color-futer);
}
button{
    cursor: pointer;
}
.buttonli{
    width: 73px;
    height: 38px;
}
.buttonli:hover{
    background-color: #2196F3;
}

.button{
    width: 216px;
    height: 50px;
    background-color: #2196F3;
    color: #FFFFFF;
}
