body {
  font-family: "Roboto", sans-serif;
  background-color: #e5e5e5;
  line-height: 1.5;
}
.title {
  background-color: #2f303a;
}
.buttonli {
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  cursor: pointer;
}
.buttonli:hover {
background-color: #2196f3;
}
.head {
  background-color: #ffffff;
  display:flex;
  
}
.team {
  background-color: #f5f4fa;
}
.footer {
  background-color: #2f303a;
}
li {
  list-style-type: none;
}
.buttonli {
  cursor: pointer;
}
.address {
  font-style: "Roboto";
}
.navi {
display:flex;
}

